@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    .dark {
        color: #ffffff; /* Sets default text color to white */
        background-color: #111827; /* Sets default page background to dark gray */
    }
    
    /* Make sure links are visible in dark mode */
    .dark a {
        color: #60a5fa; /* A nice blue for links in dark mode */
    }
}
